.container {
  display: grid;
  grid-template: repeat(7, 1fr);
  border: cyan;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.dayCell {
  background-color: aquamarine;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: flex-start;
  border: 3px solid;
  border-radius: 5px;
  flex-direction: row;
  margin-right: 10px;
}

.dayCell:hover {
  transform: translateY(-7px);
  background-color: whitesmoke;
}

/* .button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
} */
